@CHARSET "EUC-KR";

h2 {
	color: green;
}

table {
	width: auto;
	border-collapse: collapse;
	text-align: center;
}

td, th {
	font-size: 10pt;
	border: 1px solid #98bf21;
	height: 30px;
	padding: 5px;
}

th {
	background-color: #A7c942;
	color: white;
}